@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap");
* {
  font-family: "Montserrat";
}

html {
  --primary-color: #ffffff;
  --secondary-color: #ffffff;
  --contrast-color: #9747ff;
  --header-color: #b34e17;
  --text-color: #f9df90;
}

body {
  background: rgb(209, 103, 61);
  background: linear-gradient(180deg, rgba(209, 103, 61, 1) 0%, rgba(227, 145, 80, 0.8491596467688638) 50%, rgba(217, 135, 99, 1) 100%);
}

main {
  padding: 3rem;
  padding-top: 0%;
}

@media (min-width: 900px) {
  main {
    padding: 5rem;
    padding-top: 0%;
  }
}
