---
import "../styles/style.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title="ABOUT US">
  <img src="/public/images/about.webp" alt="Havnebillede" />
  <h2>Her er about us</h2>
</Layout>
