---
import "../styles/style.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title="LINE-UP">
  <h2>Her er LINE-UP</h2>
</Layout>

<div class="container">
  <p>KUNE FESTIVAL</p>
  <p>KUNE FESTIVAL</p>
  <p>KUNE FESTIVAL</p>
</div>
