---
import "../styles/style.css";
import Layout from "../layouts/Layout.astro";
import Liste from "../components/Liste.astro";
const data = await fetch("https://vjkpuzanrdrppgpcpzrk.supabase.co/rest/v1/kune", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZqa3B1emFucmRycHBncGNwenJrIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3MzM5ODEsImV4cCI6MTk5NDMwOTk4MX0.zvDI-NxxAZI0aLOzygX5rbdZd4zlaug-JQOTnHqEc0Y",
  },
}).then((res) => res.json());
---

<Layout title="LINE-UP">
  <h1>WEDNESDAY 19 JULY</h1>
  <div class="grid_1-1-1-1">
    {
      data.slice(0, 4).map((artist, index) => {
        return <Liste index={index} data={artist} />;
      })
    }
    <!-- <div class="img1">
      <img class="biggerimage2" src="/images/gallery1.webp" alt="artist" />
      <h2>Atwix twin</h2>
      <h3>Techno</h3>
      <p class="txt_lineup">Let´s welcome an Irish-born British musician, composer and DJ.</p>
    </div>
    <div class="img2">
      <img class="biggerimage3" src="/images/gallery2.webp" alt="artist" />
      <h2>Atwix twin</h2>
      <h3>Techno</h3>
      <p class="txt_lineup">Let´s welcome an Irish-born British musician, composer and DJ.</p>
    </div>
    <div class="img3">
      <img class="biggerimage2" src="/images/gallery3.webp" alt="artist" />
      <h2>Atwix twin</h2>
      <h3>Techno</h3>
      <p class="txt_lineup">Let´s welcome an Irish-born British musician, composer and DJ.</p>
    </div>
    <div class="img4">
      <img class="biggerimage" src="/images/gallery4.webp" alt="artist" />
      <h2>Atwix twin</h2>
      <h3>Techno</h3>
      <p class="txt_lineup">Let´s welcome an Irish-born British musician, composer and DJ.</p>
    </div> -->
  </div>
  <div class="grid_1-1-1-1">
    {
      data.slice(4, 8).map((artist, index) => {
        return <Liste index={index} data={artist} />;
      })
    }
    <!-- <div class="img1">
      <img class="biggerimage2" src="/images/gallery1.webp" alt="artist" />
      <h2>Atwix twin</h2>
      <h3>Techno</h3>
      <p class="txt_lineup">Let´s welcome an Irish-born British musician, composer and DJ.</p>
    </div>
    <div class="img2">
      <img class="biggerimage3" src="/images/gallery2.webp" alt="artist" />
      <h2>Atwix twin</h2>
      <h3>Techno</h3>
      <p class="txt_lineup">Let´s welcome an Irish-born British musician, composer and DJ.</p>
    </div>
    <div class="img3">
      <img class="biggerimage2" src="/images/gallery3.webp" alt="artist" />
      <h2>Atwix twin</h2>
      <h3>Techno</h3>
      <p class="txt_lineup">Let´s welcome an Irish-born British musician, composer and DJ.</p>
    </div>
    <div class="img4">
      <img class="biggerimage" src="/images/gallery4.webp" alt="artist" />
      <h2>Atwix twin</h2>
      <h3>Techno</h3>
      <p class="txt_lineup">Let´s welcome an Irish-born British musician, composer and DJ.</p>
    </div> -->
  </div>
</Layout>

<style>
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 18px;
  }

  h1 {
    text-align: center;
    color: #f9df90;
    padding-bottom: 3rem;
  }

  @media (max-width: 800px) {
    .grid_1-1-1-1 {
      display: grid;
      grid-template-columns: 1fr;
      gap: 60px;
    }
    .img1 {
      grid-row: 1;
      grid-column: 1;
      padding-right: 20px;
    }

    .img2 {
      grid-row: 2;
      grid-column: 1;
      align-items: center;
    }
    .img3 {
      grid-row: 3;
      grid-column: 1;
      align-items: center;
    }
    .img4 {
      grid-row: 4;
      grid-column: 1;
      align-items: center;
    }

    .biggerimage {
      border-radius: 50%;
      width: 300px;
      height: 300px;
    }

    .biggerimage2 {
      border-radius: 50%;
      width: 300px;
      height: 300px;
    }

    .biggerimage3 {
      border-radius: 50%;
      width: 300px;
      height: 300px;
    }
  }
</style>
