<footer>
  <ul class="list">
    <li>
      <a href="index.html">About</a>
    </li>
    <li>
      <a href="minportfolio.html">Contact</a>
    </li>
    <li>
      <a href="ommeg.html">Policy</a>
    </li>
  </ul>

  <div><p>Copyright &copy 2023 KUNDE</p></div>
</footer>
<style>
  .footer {
    background-image: ;
    height: auto;
    font-family: "PT Serif", serif;
    padding: 40px 0;
  }
  .footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: left;
  }
</style>
