<header>
  <nav>
    <ul>
      <li><button>BOOK</button></li>
      <li><button>LINEUP</button></li>
      <li><button>ABOUT</button></li>
      <li><button>CONTACT</button></li>
    </ul>
  </nav>
</header>

<style>
  nav {
    display: flex;
    justify-content: center;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 2rem;
    margin-left: 50rem;
  }

  li {
    margin: 0 10px;
    display: inline;
  }

  a {
    color: #b34e17;
    text-decoration: none;
  }

  /* .header-button {
      display: inline-block;
    } */

  button {
    background-color: #f9df90;
    border: none;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 0.51rem 2rem 0.5rem 2rem;
    color: #b34e17;
    border-radius: 25px;
  }

  button:hover {
    background-color: #fff0c1;
  }
</style>
