<nav>
  <ul>
    <li><a href="#">BOOK</a></li>
    <li><a href="#">lINE-UP</a></li>
    <li><a href="#"></a>ABOUT</li>
    <li><a href="#"></a>CONTACT</li>
  </ul>
</nav>

<style>
  ul {
    background-color: #f9df90;
  }

  a {
    color: #b34e17;
  }
</style>
