<!-- <div class="header-button">
  <button>
    <nav>
      <ul>
        <li><a href="#">BOOK</a></li>
        <li><a href="#">lINE-UP</a></li>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>
    </nav>
  </button> -->
<header>
  <nav>
    <ul>
      <li><button>BOOK</button></li>
      <li><a href="/lineup"><button>LINEUP</button></a></li>
      <li><a href="/about"><button>ABOUT</button></a></li>
      <li></li><button>CONTACT</button>
    </ul>
  </nav>
</header>

<style>
  nav {
    display: flex;
    justify-content: center;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 2rem;
    margin-left: 50rem;
  }

  li {
    margin: 0 10px;
    display: inline;
  }

  a {
    color: #b34e17;
    text-decoration: none;
  }

  /* .header-button {
    display: inline-block;
  } */

  button {
    background-color: #f9df90;
    border: none;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 0.51rem 2rem 0.5rem 2rem;
    color: #b34e17;
    border-radius: 25px;
  }

  button:hover {
    background-color: #fff0c1;
  }
</style>
